@import "./config.css";

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.btn {
    flex: 1;
    height: 400px;

    font-size: 50px;
    background: transparent;
    border: none;
    width: 150px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.6);
    padding: 20px;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    outline: 0;
}

.prev {
    composes: btn;
    text-align: left;
}

.next {
    composes: prev;
    text-align: right;
}